.app-container {
    position: relative;
    width: 80vw;
    height: 80vh;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h3 {
    color: rgb(102, 102, 210);
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}

.green {
    background-color: green;
}

.green:hover {
    background-color: rgb(7, 174, 7);
}

.red {
    background-color: rgb(210, 29, 29);
}

.red:hover {
    background-color: rgb(255, 0, 0);
}

.moving-button {
    transition: top 0.2s, left 0.2s; /* Smooth transition */
    /* left: px;
    top: px; */
}

.ans {
    display: none;
    margin-top: 20px;
    color: rgb(128, 128, 231);
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    color: rgb(128, 128, 231);
}

.ans img {
    width: 200px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
